%theme-dark {
  --accent-color: #218c74;
  --primary-text-color: #fff;
  --background-color: #000;
  --navbar-color: rgba(0,0,0,.9);
  --surface-color: #1f1f1f;
  --card-shadow: black;
  --border-radius: 5px;
}
