%theme-dark {
  --accent-color: #218c74;
  --primary-text-color: #fff;
  --background-color: #000;
  --background-color-gradient: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  --animated-background-opacity: 0.75;
  --navbar-color: rgba(0, 0, 0, 0.9);
  --surface-color: #1f1f1f;
  --border-radius: 5px;

  --ripple-color: rgba(255, 255, 255, 0.85);

  // --notification-background-color: rgba(0,0,0,.75);
  // --notification-border-color: #FFF;
  // --notification-text-color: #FFF;
  // --notification-opacity--hover: .75;
}
