%theme-dynamic {
  @import '../setup/_variables';
  
  &.--page-theme-mars {
    &:before {
      background: $mars-color;
    }
    --navbar-color: #{rgba(darken($mars-color, 25%), .8)};
    .the-footer .surface {
      background: darken($mars-color, 15%);
    }
  }
  &.--page-theme-saturn {
    &:before {
      background: $saturn-color;
    }
    --navbar-color: #{rgba(darken($saturn-color, 25%), .8)};
    .the-footer .surface {
      background: lighten($saturn-color, 25%);
    }
  }
  &.--page-theme-neptune {
    &:before {
      background: $neptune-color;
    }
    --navbar-color: #{rgba(darken($neptune-color, 25%), .8)};
    .the-footer .surface {
      background: darken($neptune-color, 25%);
    }
  }
  &.--page-theme-earth {
    &:before {
      background: $earth-color;
    }
  }
  &.--page-theme-moon {
    &:before {
      background: $moon-color;
    }
    --navbar-color: #{rgba(darken($moon-color, 25%), .8)};
    .the-footer .surface {
      background: lighten($moon-color, 25%);
    }
  }
}
