// $primary-text-color: white;
// $primary-background-color: #1F1F28; //#2f3640
// $secondary-background-color: #23232E; //#353b48
// $primary-color: #54a0ff;
// $secondary-color: #ff6b6b;
// $background: $primary-background-color;
// $card-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
// $card-background: $secondary-background-color;
// $card-background--hover: $secondary-background-color;

$primary-text-color: white;
$primary-background-color: rgba(0,0,0,.25);
$secondary-background-color: rgba(0,0,0,.0);
$primary-color: #54a0ff;
$secondary-color: #ff6b6b;
$background: #322b77;
$background-navbar: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
$background-navbar: rgba(#0D0B1F, .9);
$surface-color: #218c74;
$card-shadow: none;
$card-background: none;
$card-background--hover: rgba(255,255,255,.05);
$border-radius: 2px;

$blue: #54a0ff;
$red: #ff6b6b;
$yellow: #feca57;
$pink: #ff9ff3;
$green: #1dd1a1;
$light-blue: #48dbfb;
$dark: #1F1F28;

$mars-color: #a72828;
$mars-text-color: #ff6b6b;

$saturn-color: #8a8948;
$saturn-text-color: #feca57;

$neptune-color: #394dde;
$neptune-text-color: #54a0ff;

$uranus-color: #54a0ff;
$uranus-text-color: #7ee7fe;

$earth-color: #322b77;
$earth-text-color: #1dd1a1;

$moon-color: #615f72;
$moon-text-color: #c6c6c6;
