$mars-color: #a72828;
$mars-text-color: #ff6b6b;

$saturn-color: #8a8948;
$saturn-text-color: #feca57;

$neptune-color: #394dde;
$neptune-text-color: #54a0ff;

$uranus-color: #54a0ff;
$uranus-text-color: #7ee7fe;

$earth-color: #322b77;
$earth-text-color: #1dd1a1;

$moon-color: #615f72;
$moon-text-color: #c6c6c6;
