@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@import '../themes/index';
@import '../setup/_keyframes';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  user-select: none;
}
html {
  height: 100%;
}
body {
  &.--theme-default {
    #app {
      @extend %theme-dynamic;
    }
  }
  &.--theme-dark {
    @extend %theme-dark;
  }
  &.--theme-light {
    @extend %theme-light;
  }
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
  font-size: 12px;
  height: 100%;
  background-color: var(--surface-color);
}
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: opacity 0.2s;
  -webkit-tap-highlight-color: transparent;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 400;
}
p {
  font-weight: var(--paragraph-font-weight);
  letter-spacing: 0.03em;
  line-height: 1.25em;
  opacity: var(--paragraph-opacity);
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.no-shrink {
  flex-shrink: 0;
}

.--pressed {
  transform: scale(0.95);
  will-change: transform;
  transition: transform 0.15s;
}

.rocketboost-heading {
  display: block;
  position: relative;
  text-align: center;
  font-size: 1.8em;
  margin: 1em 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  &.--tall {
    height: 6em;
  }

  &.--medium {
    height: 4em;
    text-transform: initial;
  }

  .--divider {
    content: '';
    height: 1px;
    width: 100%;
    background: var(--primary-text-color);
    opacity: 0.5;
  }
  .--text {
    margin: 0 0.6em;
  }
}
