%button-reversed {
  @extend %button;
  border: 1px solid rgba(255,255,255,0.5);
  background: transparent;
  transition: background .5s, border-color .25s;

  > *, &:after {
    transition: opacity .25s;
  }

  &:hover,
  &.loading {
    background: rgba(255,255,255,0.2);
    border-color: transparent;
    transition: border-color .5s;
  }

  &.loading {
    background: rgba(255, 255, 255, 0.4);

    &:after {
      opacity: 1;
    }

    .button__text {
      opacity: 0;
    }
  }

  @extend %spinner;
  &:after {
    left: 50%;
    top: .6em;
    margin-left: -.75em;
  }
}


