%button-reversed {
  @extend %button;
  border: 1px solid var(--button-border-color);
  background: transparent;
  transition: background .5s, border-color .25s;

  > *, &:after {
    transition: opacity .25s;
  }

  &:hover,
  &.loading {
    background: var(--button-background-color);
    border-color: transparent;
    transition: border-color .5s;
  }

  &.loading {
    background: var(--button-border-color);

    &:after {
      opacity: 1;
    }

    .button__text {
      opacity: 0;
    }
  }

  @extend %spinner;
  &:after {
    left: 50%;
    top: .6em;
    margin-left: -.75em;
  }
}


